body{
  margin:0;
  padding:0;
  background-color: red;/*bu renk kodu */
}
/*

 */
 .timur{
   color: white;
   font-size: 50px;
 }
#timurDemir{
  text-align: center; /*bu ortalar */
}
.paragraf{
  text-align: center;
  color: green;
}
